.color-box {
    height: 200px;
    width: 200px;
}

#box-0 {
    background-color: aqua;
}

#box-1 {
    background-color: maroon;
}

#box-2 {
    background-color: yellow;
}

#box-3 {
    background-color: greenyellow;
}