.color-box {
    display: inline-block;
    position: relative;
    margin: 0%;
    float: left;
    width: 50%;
    height: 190px;
}

.button-box {
    width: 400px;
    height: 400px;
}
.container {
    background-color: black;
}

.center-piece {
    background-color: black;
    width: 275px;
    height: 275px;
    position: absolute;
    border-radius: 100%;
    top: 53px;
    left: 63px;
}

.center-piece h4 {
    padding-top: 10px;
    text-align: center;
    color: #FFF;
}

.start-button {
    margin: auto;
    background-color: lightgray;
    width: 150px;
    height: 40px;
    text-align: center;
    border-radius: 10px;
}

.start-button:hover {
    background-color: darkgray;
}

.start-button h3 {
    padding-top: 6px;
}

#box-0 {
    background-color: #003EDB;
    float: left;
    border-top-left-radius: 200px;
}

#box-1 {
    background-color: #00ACDB;
    border-top-right-radius: 200px;

}

#box-2 {
    background-color: #9D00DB;
    border-bottom-left-radius: 200px;
    float: left;
}

#box-3 {
    background-color: #DB003E;
    border-bottom-right-radius: 200px;
    float: left;
}

#box-0:hover {
    background-color: #002b99;
}

#box-1:hover {
    background-color: #007899;
}

#box-2:hover {
    background-color: #6e0099;
}

#box-3:hover {
    background-color: #99002b;
}

#game-over {
    display: none;
}


/* #003EDB blue */
/* #00ACDB cyan */
/* #9D00DB purple */
/* #DB003E red */